<%= form_with(model: flight, local: true) do |form| %>
  <% if flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
      <% flight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :flight_num %>
    <%= form.text_field :flight_num %>
  </div>

  <div class="field">
    <%= form.label :departing %>
    <%= form.text_field :departing %>
  </div>

  <div class="field">
    <%= form.label :arriving %>
    <%= form.text_field :arriving %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.datetime_select :date %>
  </div>

  <div class="field">
    <%= form.label :seats %>
    <%= form.number_field :seats %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
