<h1>Bookings</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Phone number</th>
      <th>Seat</th>
      <th>Flight number</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= booking.date_of_birth %></td>
        <td><%= booking.phone_number %></td>
        <td><%= booking.seat %></td>
        <td><%= booking.flight_number %></td>
        <td><%= booking.user_id %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Delete', @booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path, class: "btn btn-secondary" %>
