<br/>
<br/>
<h1>Bookings</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Phone number</th>
      <th>Flight number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
    <% if booking.user == current_user %>
      <tr>
        <td><%= booking.name %></td>
        <td><%= booking.date_of_birth %></td>
        <td><%= booking.phone_number %></td>
        <td><%= booking.flight_number %></td>
        <td><%= link_to 'Show', booking , class: "btn btn-dark btn-sm" %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) , class: "btn btn-secondary btn-sm"%></td>
        <td><%= link_to 'Delete', booking, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Booking', new_booking_path, class: "btn btn-secondary" %>
