<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @booking.name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @booking.date_of_birth %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @booking.phone_number %>
</p>

<p>
  <strong>Seat:</strong>
  <%= @booking.seat %>
</p>

<p>
  <strong>Flight number:</strong>
  <%= @booking.flight_number %>
</p>

<p>
  <strong>User:</strong>
  <%= @booking.user_id %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
