<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'VP Airways', root_path , class:"navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Contacts", home_contacts_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "About", home_about_path, class: "nav-link" %>
      </li>

    </ul>
    <form class="form-inline">
      <% if user_signed_in? %>
        <li class="form-inline">
          <%= link_to "My Bookings ", bookings_path, class:"btn btn-success" %>
        </li>
        <li class="form-inline">
            <div class="dividerx2"/>
        </li>
        <li class="form-inline">
          <%= link_to "Edit Profile", edit_user_registration_path, class:"btn btn-outline-success my-2 my-sm-0" %>
        </li>
        <li class="form-inline">
            <div class="divider"/>
        </li>

        <li class="form-inline">
        <%= link_to "Sign out", destroy_user_session_path, method: :destroy, class:"btn btn-outline-success my-2 my-sm-0" %>
        </li>
        <li class="form-inline">
            <div class="divider"/>
        </li>

      <% else %>
        <li class="form-inline">
          <%= link_to "Sign In", new_user_session_path, class:"btn btn-outline-success my-2 my-sm-0" %>
        </li>
        <li class="form-inline">
            <div class="divider"/>
        </li>
        <li class="form-inline">
          <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-outline-success my-2 my-sm-0" %>
        </li>
        <li class="form-inline">
            <div class="divider"/>
        </li>

      <% end %>
    </form>
  </div>
</nav>
