<%= form_with(model: ticket, local: true) do |form| %>
  <% if ticket.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

      <ul>
      <% ticket.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :passport_n %>
    <%= form.text_field :passport_n %>
  </div>

  <div class="field">
    <%= form.label :flight_n %>
    <%= form.text_field :flight_n %>
  </div>

  <div class="field">
    <%= form.label :seat %>
    <%= form.text_field :seat %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
